body {
    background-color: aquamarine;
    text-align: center;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color:black;
    text-shadow: 2px 2px yellowgreen;
}
img {
    width: 260px;
    box-shadow: 5px 5px yellowgreen;
}
p {
    line-height: 1.6;
    max-width: 450px;
    margin-left: 400px;
    font-weight: 900;
}
div {
    background-color: yellow;
    text-align: center;
}